/*Selectors for balises*/
* {
  font-family: 'Muli', sans-serif;
}
header, footer{
  height: 60px;
  background-color: #BF771A;

}
footer{
  height: 50px;
}
body{
  background-color: #C2A762;
}
main{
  margin-top: 20px;
  margin-bottom: 20px;
}
#logo-title{
  font-family: 'Muli', sans-serif;
  font-family: 'Share Tech', sans-serif;
}
/*Selectors for classes*/
.image-container>img{
  max-width: 100%;
  height: auto;
}
.image-container{
  width: 500px;
}
.full-height{
  height: 100%;
}
.flex-base{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}

.menu-buttons>li>a, .footer-buttons{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-buttons>li>a:hover{
  background-color: #C2A762;
  color: white;
}
ul.flex-center{
  width: 300px;
}
.no-padding-margin{
  margin: 0;
  padding: 0;
}
.list-no-style{
  list-style: none;
}

.p-base{
  width: 650px;
  text-align: justify;
}
